<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/28538e13-d7df-4ed2-bbab-624f117023ca/resourceGroups/Toan_NET/providers/Microsoft.ContainerRegistry/registries/MABIXIbackendservice11</ResourceId>
    <ResourceName>MABIXIbackendservice11</ResourceName>
    <ResourceGroup>Toan_NET</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://mabixibackendservice11.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>79d4fa88-671c-464a-89d0-41c6e9ec94cf</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>